
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {

/* ### Primary */

--Orange: hsl(25, 97%, 53%);

/* ### Neutral */

--VeryDarkBlue: hsl(216, 12%, 8%);
--LightGrey: hsl(217, 12%, 63%);
--DarkBlue: hsl(213, 19%, 18%);
--White: hsl(0, 0%, 100%);


}

@font-face {
    font-family: overpass;
    src: url(images/Overpass-VariableFont_wght.ttf);
}

* {
    border-radius: 10px;
}

body {
    font-size: 15px;
    font-family: overpass, sans-serif;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

h1 {
    color: white;
    }

.radio {
    display: none;
    }

.container {
    background: #191F2A;
    width: 20rem;
    }

.starbackground {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.staricon {
        width: 40%;
    }

.ratingform {
    color: var(--LightGrey);
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-around;
    padding: 2rem;
    }

.radiolabel {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    }


  .radio:checked+label {
    background-color: white;
    color: black;
  }
  .radiolabel+.radio:checked {
    background-color: white;
  }

  #one+.radiolabel {
    margin-left: 0 ;
  }

    .ratingtext {
        color: var(--LightGrey);

    }

    .ratingradios {
        display: flex;
    }


    .radiolabel {
        border-radius: 50px;
    }

    #submitbutton {
        color: var(--VeryDarkBlue);
        background-color: var(--Orange);
        opacity: .75;
        font-weight: 700;
        height: 3rem;
        border-radius: 30px;
        font-size: 1.2rem;
    }


/* Hidden Thank You panel that the script will toggle the display after click submit. */
.thankyoupanel {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25rem;
    padding: 30px;
}

#userrating {
    color: var(--Orange);
    background-color: rgba(255, 255, 255, 0.10);
    padding: 10px;
    border-radius: 30px;
}

.thankyoutext {
    color: var(--LightGrey);
}

label:hover, #submitbutton:hover {
    background-color: var(--Orange);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 450px) {
    .container {
        width: 25rem;
        height: 25rem;
    }

    .radiolabel {
        width: 55px;
        height: 55px;
        margin: 8px;
    }

}